bin-debug/
.metadata/
.metadata/*
.metadata/**/*
.settings/
.settings/*
.settings/**/*
html-template/
bin-release/*
build/*
bin/*
release/*
.actionScriptProperties
.flexProperties
.project
.FlexUnitSettings/
*/.DS_Store
